

.App h1 {
  text-align: center;
}

.profile-card {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1%;
}

.profile-card img {
  width: 25%;
}

.followers-card h2 {
  text-align: center;
}

.follower {
  text-align: center;
}

ul {
  display: inline-block;
  /* text-align: center; */
}

